[submodule "src/rmw_cyclonedds"]
	path = src/rmw_cyclonedds
	url = https://github.com/ros2/rmw_cyclonedds
	branch = humble
[submodule "src/cyclonedds"]
	path = src/cyclonedds
	url = https://github.com/eclipse-cyclonedds/cyclonedds
	branch = releases/0.10.x
[submodule "src/rslidar_sdk"]
	path = src/rslidar_sdk
	url = ssh://git@github.com/lodauria/rslidar_sdk.git
	branch = main
[submodule "src/rslidar_msg"]
	path = src/rslidar_msg
	url = https://github.com/RoboSense-LiDAR/rslidar_msg.git
	branch = master
[submodule "src/Fields2Cover"]
	path = src/Fields2Cover
	url = https://github.com/Fields2Cover/Fields2Cover.git
[submodule "src/opennav_coverage"]
	path = src/opennav_coverage
	url = https://github.com/open-navigation/opennav_coverage.git
	branch = humble
[submodule "src/elevation_mapping/elevation_mapping_ros2"]
	path = src/elevation_mapping/elevation_mapping_ros2
	url = ssh://git@github.com/lodauria/elevation_mapping_ros2.git
	branch = foxy
[submodule "src/elevation_mapping/kindr_ros"]
	path = src/elevation_mapping/kindr_ros
	url = https://github.com/SivertHavso/kindr_ros.git
	branch = ros2
